<p id="notice"><%= notice %></p>

<h1>Peliculas</h1>

<table>
  <thead>
  <nav class="navbar navbar-light bg-light">
     <tr>
      <th>Titulo</th>
      <th>Genero</th>
      <th>Sinopsis</th>
      <th>Pais_deo_rigen</th>
      <th>Duracion</th>
      <th>Calificacion</th>
      <th>Nombre director</th>
      <th colspan="3"></th>
    </tr>
    </nav>
  </thead>

  <tbody>
    <% @peliculas.each do |pelicula| %>
      <tr>
        <td><%= pelicula.titulo %></td>
        <td><%= pelicula.genero %></td>
        <td><%= pelicula.sinopsis %></td>
        <td><%= pelicula.paisdeorigen %></td>
        <td><%= pelicula.duracion %></td>
        <td><%= pelicula.calificacion %></td>
        <td><%= pelicula.nombre_director %></td>
        <div class="btn" role="">
        <td><%= link_to 'Mostrar', pelicula, class:'btn btn-default'  %></td>
        <td><%= link_to 'Editar', edit_pelicula_path(pelicula), class:'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', pelicula, class:'btn btn-default', method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Pelicula', new_pelicula_path %>
